.container {
  display: flex;
  gap: 10px;
  padding: 20px 10px;
  border-bottom: 1px solid rgb(230, 230, 230);
  color: #1e1e1e;
  text-decoration: none;
}

.container > img {
  width: 80px;
  object-fit: cover;
}

.title {
  font-weight: 600;
}
.category {
  color: rgb(145, 68, 247);
}
.rating {
  color: rgb(247, 134, 30);
}
.price {
  font-weight: 600;
}
