.container {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.container > input {
  flex: 1;
  padding: 10px;
  border: 1px solid #d6d6d6;
  border-radius: 8px;
}

.container > button {
  padding: 10px;
  border: 1px solid #d6d6d6;
  border-radius: 8px;
  cursor: pointer;
}
